<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="http://cdn.tailwindcss.com"></script>
</head>
<body>

    
  
    <h1> hello ....  in this we can calulat4e thinf using ejs  </h1>
    <h2> hello <%=2+2%></h2>
    <p>means in html we canot do dynamic thig like calulauation ectc but using ejs we can do do</p>
</body>
</html>