<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="http://cdn.tailwindcss.com"></script>
</head>
<body>

<div class="w-full h-full bg-zinc-400 p-10 text-white">
    <h1 class="text-3xl tracking-tighter mb-3">Allusers</h1>
    <div class="users">
       
        <div class="user max -w-72 p-4 bg-zinc-800 rounded -lg">
            <div class ="w-full h-52 rounded-lg bg-red-500"></div>
            <h3 class="text-xl mt-3  tracking tighter">HARHIKAJQ</h3>
            <h5> harsh @gmail.com</h5>
        </div>
        
    </div>


</div>

</body>
</html>